body {
  background: "#F5F5F5"
}
.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}
div[data-editable="false"] {
  filter: opacity(0.5);
  pointer-events: none;
}


/*New Code starts here*/
/*
Color palette:
green: #74C69D
blue: #0A369D
black: #000
blueish gray: #597081 OR #36494E
*/
.accountLink:last-child .accountLinkDivider {
  display: none;
}
.greenCheck {
  color: #4ba45d;
}
.redX {
  color: #c7433d;
}

/* hover on all table rows */
.tableBoxShadow {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%) !important;
}
.disableTableRow {
  filter: grayscale(1);
  transform: scale(1);
  pointer-events: none;
}
table tr td {
  text-align: center;
}
table tr td::first-letter {
  text-transform: uppercase;
}
tr:hover {
  background-color: #ecf3fa;
}
thead tr th {
  /* color: #0A369D !important; */
  color: #FFF !important;
}
thead tr:hover {
  background-color: inherit;
}

.newConnectionsTable tbody tr:nth-child(odd) {
  background: #eff7fc;
}
.newConnectionsTable tbody tr td {
  max-width: 75px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.newResponsesTable tbody tr:nth-child(odd) {
  background: #e9ebe6;
}
.campaignsTable tbody tr:nth-child(odd) {
  background: #FFF;
}
.campaignsTable thead tr th {
  /* color: #0A369D !important; */
  color: #000 !important;
}
.campaignsTable tbody tr td {
  max-width: 60px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tbody tr:nth-child(even) {
  background: #FFF;
}

.MuiTabs-indicator {
  background-color: orange;
}
/* ckeditor styles */
.ck.ck-content {
  background: #FFF !important;
  border-radius: 7px !important;
  margin-top: 20px !important;
  height: 132px;
  border: 2px solid #74c69d;
}
.ck.ck-content p {
  margin-top: 4px !important;
}